<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order-manager</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script defer src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script defer src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="js/shipment-manager.js"></script>
</head>
<body>
<h1>shipment-manager</h1>

<div class="content">
    <div>
        <form action="#" th:action="@{/shipment-management/send}" th:object="${sellerOrderReport}" method="post">
            <div>
                <label for="sendDate">Data nadania: </label>
                <input id="sendDate" type="text" th:field="*{sendDate}">
            </div>
            <div>
                <label for="generate">Wysyła adresy do E-Nadawcy</label>
                <button id="generate" type="submit">Wyślij</button>
            </div>
            <div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Numer Zamówienia</th>
                        <th scope="col">Adresat-nazwa </th>
                        <th scope="col">Adresat-nazwa cd.</th>
                        <th scope="col">Ulica</th>
                        <th scope="col">Numer domu</th>
                        <th scope="col">Kod pocztowy</th>
                        <th scope="col">Miasto</th>
                        <th scope="col">Kraj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order, stat : *{orders}">
                        <input type="hidden" th:field="*{orders[__${stat.index}__].oId}">
                        <input type="hidden" th:field="*{orders[__${stat.index}__].orderId}">
                        <th th:text="${stat.count}" scope="row"></th>
                        <td th:text="*{orders[__${stat.index}__].orderId}" ></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.recipientName}"size="40"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipAddress1}"size="40"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipAddress2}" size="40"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipAddress3}" size="10"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipPostalCode}" size="8"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipCity}" size="20"></td>
                        <td><input type="text" th:field="*{orders[__${stat.index}__].client.shipCountry}" size="10"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>