<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"-->
<!--            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"-->
<!--            crossorigin="anonymous"></script>-->
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script defer src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script defer src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script defer src="/js/shipment-manager-status.js"></script>
<!--    <script defer src="/js/order-manager.js"></script>-->
</head>
<body>
<h1>Status generowania adresów do wysyłki</h1>
<div th:if="${sent}">
    <a href="#" th:href="@{/shipment-management/generate}" target="_blank">Generuj PDF</a>
</div>
<div th:unless="${sent}">
    Wysyłka do ENadawcy niegotowa, odśwież stronę.
</div>

</body>
</html>