<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Administracyjny</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div>
        <div>Import powiązań produktów z pliku csv</div>
        <div>
            <form action="#" th:action="@{/admin/products/import/mapping}" method="post" enctype="multipart/form-data">
                <input name="products-mapping" type="file" placeholder="wybierz plik">
                <button type="submit">Wyślij</button>
            </form>
        </div>
        <br>
        <div>Dodaj/aktualizuj produkt</div>
        <div>
            <form action="#" th:action="@{/admin/products/add/mapping}" th:object="${productMappingModel}"
                  method="post">
                <input type="hidden" th:field="*{id}"/>
                <table>
                    <tr>
                        <td>SKU:</td>
                        <td><input id="sku" type="text" th:field="*{sku}" required/></td>
                    </tr>
                    <tr>
                        <td>Nazwa wewnętrzna:</td>
                        <td><input id="internalProductName" type="text" th:field="*{internalProductName}" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>ASIN:</td>
                        <td><input id="asin" type="text" th:field="*{asin}" required/></td>
                    </tr>
                    <tr>
                        <td>Stan:</td>
                        <td>
                                <select th:field="*{condition}">
                                <option th:each="condition : ${T(pl.com.infratex.ordermanager.service.model.ProductMappingCondition).values()}"
                                        th:value="${condition.key}" th:text="${condition.label}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="submit">Dodaj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>